.correctAnswer{
  color: green;
}

.incorrectAnswer{
  color: red;
}
/*
.mat-list-item:nth-child(even){
  background-color: #E8E8E8;
}

.mat-list-item:nth-child(odd){
  background-color:transparent;
}
*/