<mat-card-title style="line-height: 1.4em; margin-bottom: 1em;">
  <div [innerHtml]="question.question | safe: 'html'"></div>
</mat-card-title>

<mat-card-content >      
  
  <mat-selection-list 
    [multiple]="false" 
    [(ngModel)]="selectedOption">

    <mat-list-option 
      [class]="classname"
      *ngFor="let answer of question.answers; let i = index"      
      [value]="i">
      {{i + 1}}. {{ answer.answer }}
    </mat-list-option>

  </mat-selection-list>            
  
</mat-card-content>
<mat-card-actions style="display: flex; flex-direction: row; justify-content: flex-end;">        
  <button mat-raised-button color="primary" 
    [disabled]="!(selectedOption)"
    (click)="onSubmitClick()" >
    Submit Answer
  </button>
</mat-card-actions>
<mat-card-footer style="padding: 2em;">
  <div>{{question.explanation}}</div>
  <div>{{question.reference}}</div>
</mat-card-footer>